{% extends "cms/base.html" %}


{% block title %}使い方{% endblock title %}

{% block content %}

{% if not user.is_authenticated %}
<div class="m-2 text-warning">
    <i class="material-icons m-2 md-18">warning</i>ログインしていません。
    <a href="{% url 'users:login' %}" class="btn btn-sm mx-2 btn-outline-secondary px-2 border">ログイン</a>
</div>
{% endif %}

<h2 class="h2 text-light my-5"><i class="material-icons md-36 me-2" style="position:relative;top:3px">question_mark</i>使い方</h2>

<div class="container_how_to_use container fs-5 mb-5 text-light" style="max-width:800px">
    <div class="h4 my-5 border-bottom">
        Memory Crow （メモリークロウ）とは
    </div>
    <p class="text-light">
        暗記カードを使って覚えたいことを効率よく覚えられるサービスです。
    </p>
    <p class="text-light">
        Memory Crowには以下のような特徴があります。
    </p>
    <ul>
        <li>
            暗記カードの作成・編集
            <p class="text-muted">
                マークダウンによる高機能なカード編集ができます。
                PCでの利用に適したショートカットキーも充実しています。
                Texも利用できるため数式を使ったカードも作れます。
            </p>
        </li>
        <li>
            復習の自動スケジューリング
            <p class="text-muted">
                エビングハウスの忘却曲線を参考に、
                記憶の定着度に応じて徐々に間隔を伸ばすように復習スケジュールを作成します。
                アルゴリズムの細かなカスタマイズも可能です。
            </p>
        </li>
        <li>
            学習
            <p class="text-muted">エビングハウスの忘却曲線を参考に、
                記憶の定着度に応じて徐々に間隔を伸ばすように復習スケジュールを作成します。
                アルゴリズムの細かなカスタマイズも可能です。
                学習中は覚えていたかとうかだけ判断すればいいので集中して取り組めます。
            </p>
        </li>
        <li>
            カード・プロジェクト・タグの管理
            <p class="text-muted">
                プロジェクトやタグをカードに付加し、検索や一括変更などができます。
                重要度、緊急度、アクティブかどうかなどの属性を用いることで、
                必要なときに必要な分だけ学習することができるようになります。
            </p>
        </li>
        <li>
            プロジェクトごとのテンプレートカード
            <p class="text-muted">
                プロジェクトごとにテンプレートとなるカードを設定できるため
                カードの高速な作成が可能です。
            </p>
        </li>
        <li>
            カードの共有・ブックマーク
            <p class="text-muted">
                作成したカードを一般公開して、世界中のユーザに使ってもらうことができます。
                逆に公開されているカードをブックマークして学習することもできます。
                カードだけでなくプロジェクトやタグの共有もできます。
            </p>
        </li>
        <li>
            音声読み上げ
            <p class="text-muted">
                多言語での音声読み上げ機能が利用できます。
                読み上げボタンを押す他、学習中に自動で読み上げることも可能です。
                言語はカードごとに指定できます。
            </p>
            <p>
                <small class="text-muted mb-2">
                    ※音声読み上げに利用できる言語はブラウザに依存します。
                </small>
            </p>
        </li>
        <li>
            同期不要
            <p class="text-muted">
                データの変更はローカルに保存せず常に直接サーバに保存する方式を取っているため、
                データの同期について考えることなくPC・スマホ・タブレットなどの任意の端末から
                常に最新情報にアクセスできます。
            </p>
        </li>
        <li>
            TSVファイルからのカード一括作成
            <p class="text-muted">
                例えば大量の英単語データなどを表形式ファイルでお持ちの方はtsvとして出力して一括でカード作成できます。
                １度に5000件まで作成できます。
            </p>
        </li>
        <li>
            無料
            <p class="text-muted">
                無料で利用できます。
            </p>
        </li>
    </ul>

    <div class="h4 my-5 border-bottom">
        カードを作る
    </div>
    <p class="text-light">
        まずはカードを作ってみましょう。
    </p>
    <div class="text-light border m-3 p-3 pt-5">
        <ol>
            <li>
                <p>
                    Googleアカウントでログイン後、画面上部のナビゲーションメニューから「カード」を押します。
                </p>
            </li>
            <li>
                <p>
                    画面上部の「新規」を押します。
                </p>
            </li>
            <li>
                <p>
                    Field 0 のコンテンツ欄に以下の文を貼り付けてみましょう。
                </p>
                <div class="my-3 p-2 text-light border">世界一高い**標高**の首都がある**国**は？</div>
            </li>
            <li>
                <p>
                    Field 1 のコンテンツ欄に以下の文を貼り付けてみましょう。
                </p>
                <div class="my-3 p-2 text-light border">ボリビア</div>
            </li>
            <li>
                <p>
                    画面下部の「送信」を押します。
                </p>
            </li>
        </ol>
    </div>
    <p class="text-light">
        おめでとうございます。記念すべき最初のカードができました。
    </p>
    <p class="text-light">
        次に、今作ったカードを見てみましょう。
    </p>
    <div class="text-light border m-3 p-3 pt-5">
        <ol>
            <li>
                <p>
                    現在「カードの一覧」ページではない場合は、画面上部のナビゲーションメニューから「カード」をクリックします。
                </p>
            </li>
            <li>
                <p>
                    たった今作成したカードがリストに表示されているはずなので、「カードID」の列のリンクを押します。
                </p>
            </li>
            <li>
                <p>
                    カードを見ることができます。
                </p>
            </li>
        </ol>
    </div>
    <p class="text-light">
        たった今、カードを１枚作りましたが、このとき同時に「復習管理」というものが１つ作られます。
        これはあなたが効率よく覚えられるように復習のタイミングを管理するための情報を集めたものです。
    </p>
    <p class="text-light">
        それでは「復習管理」を見てみましょう。
    </p>
    <div class="text-light border m-3 p-3 pt-5">
        <ol>
            <li>
                <p>
                    画面上部のナビゲーションメニューから「復習管理」をクリックします。
                </p>
            </li>
            <li>
                <p>
                    たった今作成したカードの復習管理がリストに表示されているのが確認できます。
                </p>
            </li>
        </ol>
    </div>
    <p>
        列を見ていくと「摂取レベル」と「定着レベル」があり、どちらも値が0であることがわかります。
        学習をするとこれらのレベルが上がっていきます。
    </p>
    <p>
        「緊急度」の列をみてみると値が100になっています。
        これはなるべく早く復習すべきであることを示していますが、
        新規に作成したカードは全て緊急度100になります。
    </p>
    <p class="text-light">
        それでは作ったカードを学習してみましょう。
    </p>
    <div class="text-light border m-3 p-3 pt-5">
        <ol>
            <li>
                <p>
                    画面上部のナビゲーションメニューから「ラーニング」をクリックします。
                </p>
            </li>
            <li>
                <p>
                    先程作ったカードが表示されているはずです。
                </p>
                <p class=" mb-2">
                    <small class="text-light">
                        ※他にもカードを作ったりブックマークしている方はそちらが表示されているかもしれません。
                    </small>
                </p>
                <p class=" mb-2">
                    <small class="text-light">
                        ※カードが一枚も表示されない場合、urlの "?" 以降を全て消してページを更新してください。
                    </small>
                </p>
            </li>
            <li>
                <p>
                    クリックして選択すると、周りが暗くなり集中モードになります。
                </p>
            </li>
            <li>
                <p>
                    「解答を表示」を押すと、先程入力した解答が表示されます。
                </p>
            </li>
            <li>
                <p>
                    解答を覚えていた場合は「ok」を、忘れていた場合は「ng」を押します。
                    これでこのカードの１回の学習は終わりです。
                </p>
            </li>
        </ol>
    </div>
    <p class="text-light">
        新規カードの場合、okを押すと10分後に再度出題されます。
        このときにまた覚えていた場合は翌日に出題されます。
        ngの場合は1分後に再度出題されます。
        短期記憶を長期記憶に変えるためには初めはこのぐらいの頻度での復習が必要です。
        ただしこれらの待ち時間は設定で変えることができます。
    </p>
    <p class="text-light">
        もう一度復習管理一覧に戻ると、「摂取レベル」が上がっていることがわかります。
        摂取レベル（ingestion level, IL）は比較的新しいカードの問題を分レベルの短い時間で復習する際のレベルを表します。
        デフォルトでは摂取レベルが３に達すると「定着レベル」が０から１に上がります。定着レベルが１以上のときに学習しても
        摂取レベルは上がりません。言い換えると定着レベルが0のときのレベルをさらに細分化したものが摂取レベルであると言えます。
    </p>
    <p class="text-light">
        このように聞くと難しいと感じるかもしれませんが、実際にはMemory Crowがこれらのレベルに基づいて自動的に適切なタイミングで出題
        するので、それほどしっかりと理解する必要はありません。
    </p>
    <div class="h4 my-5 border-bottom">
        1枚のカードから複数の問題を作る
    </div>
    <p class="text-light">
        例えば紙の暗記カードの表面に"distinctive" 、裏面に "特有の" と書いたとします。
        このカードの学習方法は２つあり、１つは「英語（"distinctive"）を見て日本語（"特有の"）を答える」という使い方です。
        もう１つは「日本語（"特有の"）を見て英語（"distinctive"）を答える」という使い方です。
        これらは別な問題であり、異なる脳の神経回路を必要とします。そのため記憶への定着も別々に管理されるべきです。
    </p>
    <p class="text-light">
        紙の暗記カードと同様に Memory Crow も１つのカードから複数の問題を作ることが可能です。
        １つだけ違うのは、紙の暗記カードは「表」と「裏」の２つしかカードの「入力欄」がありませんが、
        Memory Crow は５つまで増やすことができます。この場合５つの欄の入力で最大20題の問題を作ることができますが、
        どのようなときに使うかは後ほど説明します。
    </p>
    <p class="text-light">
        Memory Crow ではこのような「入力欄」のことを "カードフィールド" と読んでいます。
        また、１枚のカードから作成できる「問題」のことを "Q&A" と読んでいます。
    </p>
    <p class="text-light">
        それではさっそく２つのQ&Aを持つカードを作成してみましょう。
    </p>
    <div class="text-light border m-3 p-3 pt-5">
        <ol>
            <li>
                <p>
                    Googleアカウントでログイン後、画面上部のナビゲーションメニューから「カード」を押します。
                </p>
            </li>
            <li>
                <p>
                    画面上部の「新規」を押します。
                </p>
            </li>
            <li>
                <p>
                    Field 0 のコンテンツ欄に以下の文を貼り付けてみましょう。
                </p>
                <div class="my-3 p-2 text-light border">distinctive</div>
            </li>
            <li>
                <p>
                    Field 1 のコンテンツ欄に以下の文を貼り付けてみましょう。
                </p>
                <div class="my-3 p-2 text-light border">特有の</div>
            </li>
            <li>
                <p>
                    "Q&A"欄のチェックを全て入れます。
                </p>
            </li>
            <li>
                <p>
                    画面下部の「送信」を押します。
                </p>
            </li>
        </ol>
    </div>
    <p class="text-light">
        これで２つのQ&Aを持つカードができました。
        カード一覧の「カードID」のリンクからカード詳細ページに進むと問題を表すボックス（Q&Aボックス）が
        ２つあることが確認できます。
    </p>
    <p class="text-light">
        さらに復習管理一覧ページへ進むとわかりますが、復習管理が新たに２つ作成されています。
        このように復習管理はカードごとではなくQ&Aごとに作られます。
    </p>
    <p class="text-light">
        それでは作ったカードを学習してみましょう。
    </p>
    <div class="text-light border m-3 p-3 pt-5">
        <ol>
            <li>
                <p>
                    画面上部のナビゲーションメニューから「ラーニング」をクリックします。
                </p>
            </li>
            <li>
                <p>
                    先程作ったカードのQ&Aボックスのうちの１つが表示されています。
                </p>
                <p class=" mb-2">
                    <small class="text-light">
                        ※他にもカードを作ったりブックマークしている方はそちらが表示されているかもしれません。
                    </small>
                </p>
                <p class=" mb-2">
                    <small class="text-light">
                        ※Q&Aボックスが１つも表示されない場合、urlの "?" 以降を全て消してページを更新してください。
                    </small>
                </p>
            </li>
            <li>
                <p>
                    クリックして選択すると、周りが暗くなり集中モードになります。
                </p>
            </li>
            <li>
                <p>
                    「解答を表示」を押すと、先程入力した解答が表示されます。
                </p>
            </li>
            <li>
                <p>
                    解答を覚えていた場合は「ok」を、忘れていた場合は「ng」を押します。
                    これでこのQ&Aの１回の学習は終わりです。
                </p>
            </li>
        </ol>
    </div>
    <p class="text-light">
        ２つの問題を作ったにもかかわらず１つしか出題されませんでした。
        これは「依存先復習管理」という機能によるものです。
        依存先復習管理とは、Q&Aを「あるQ&Aが一定程度まで定着したときにだけ」出題されるようにする機能です。
        これは関係の強いQ&Aの定着度を正しく評価するために有効な機能です。
    </p>
    <p class="text-light">
        今回のように２つのカードフィールドを入れ替えただけのようなQ&Aの組を「逆Q&A」と呼びます。
        逆Q&Aには自動で依存先復習管理が設定されるため、
        デフォルトでは一方のQ&Aの定着レベル(AL)が４以上になるまで出題されません。
    </p>
    <p class="text-light">
        カードに依存先復習管理を設定したくない場合は、作成時に「依存先復習管理自動設定」欄のチェックを外すか、
        作成後に復習管理の編集ページから「依存先復習管理」を削除します。
        また依存先復習管理を設定している場合でも、ラーニングページの「問題の取得設定」にて
        「依存レベル下限」を0に設定することで依存関係にかかわらず出題されるようになります。
    </p>

    <div class="h4 my-5 border-bottom">
        カードを編集する
    </div>
    <p class="text-light">
        カードの詳細ページに戻って再度Q&Aボックスを見てみましょう。
        「表」「裏」と書いてある部分があります。
        これはカードフィールドネームと呼び、カードフィールドの内容の種類を表すのに使います。
    </p>
    <p class="text-light">
        「表」「裏」という表記のままだと、"distinctive"　という問題文を見たときに日本語を答える問題なのか、
        発音を答える問題なのか、あるいは英語で説明する問題なのかが不明確です。
        そこでこれらの値を例えば「英語」「日本語」に変えると便利です。
    </p>
    <p class="text-light">
        またQ&Aボックスのスピーカーマークを押すと音声による読み上げが行われますが、
        ブラウザのデフォルト言語で読み上げられるため、適切な言語で読み上げられないかもしれません。
        そこで読み上げ言語の設定も必要です。
    </p>
    <p class="text-light">
        それでは先程作ったカードを編集してみましょう。
    </p>
    <div class="text-light border m-3 p-3 pt-5">
        <ol>
            <li>
                <p>
                    ログインした状態で、画面上部のナビゲーションメニューから「カード」を押します。
                </p>
            </li>
            <li>
                <p>
                    一覧画面から先程作ったカードを見つけ、編集ボタン（青いペンのアイコン）を押します。
                </p>
            </li>
            <li>
                <p>
                    Field 0 のネーム欄を"表"から"英語"に置き換えます。
                    また、読み上げ言語コード欄に"en"（または"en-US", "en-UK"など）と入力します。
                </p>
            </li>
            <li>
                <p>
                    Field 1 のネーム欄を"裏"から"日本語"に置き換えます。
                    必要であれば、読み上げ言語コード欄に"ja"（または"ja-JP"）と入力します。
                </p>
            </li>
            <li>
                <p>
                    "Q&A"欄のチェックが２つとも入っていることを確認します。
                </p>
            </li>
            <li>
                <p>
                    画面下部の「送信」を押します。
                </p>
            </li>
        </ol>
    </div>
    <p class="text-light">
        これで編集は完了しました。
        読み上げが英語でできるか確認してみましょう。
    </p>
    <p class="text-light">
        ラーニングページで自動読み上げをオン（ページ上部のスピーカーマーク）にしているときに
        デフォルトでは問題フィールドと解答フィールドを全て読み上げます。
        一部のフィールドのみを自動で読み上げたい場合は表示/判定設定（歯車のアイコン）を押して
        「自動読み上げの対象フィールド番号指定」の値を編集し「適用」を押します。
    </p>

    <div class="h4 my-5 border-bottom">
        プロジェクト
    </div>
    <p class="text-light">
        カードは１つのプロジェクトに属することができます。
        またプロジェクトは「親プロジェクト」を設定することで階層的に管理できます（４階層まで可能）。
    </p>
    <p class="text-light">
        プロジェクトを作成するには画面上部のナビゲーションメニューから「プロジェクト」を押し、「新規」を押します。
    </p>

    <div class="h4 my-5 border-bottom">
        タグ
    </div>
    <p class="text-light">
        自分で作ったカードを学習する以外に、他のユーザが作ったカードを学習することもできます。
        そのための機能がブックマークです。
    </p>

    <div class="h4 my-5 border-bottom">
        ブックマーク
    </div>
    <p class="text-light">
        自分で作ったカードを学習する以外に、他のユーザが作ったカードを学習することもできます。
        そのための機能がブックマークです。
    </p>
    <p class="text-light">
        画面上部のナビゲーションメニューから「その他」→「トップ」（地球儀）を押すとトップページに移動できます。
        トップページでは公開されているカード・プロジェクト・タグを閲覧・検索できます。
    </p>

    <div class="h4 my-5 border-bottom">
        一般公開
    </div>
    <p class="text-light">
        作成したカード・プロジェクト・タグは一般公開できます。
        一般公開されたアイテムは誰でも検索・閲覧が可能になります。
        カードとプロジェクトに関してはブックマークや学習ができるようになります。
        これらの公開設定は独立しており、プロジェクトを公開してもそこに含まれるカードが全て公開されるような
        ことはありません。逆にカードを公開してもそのカードが属するプロジェクトは公開されません。タグも同様です。
    </p>
    <p class="text-light">
        作成したカード・プロジェクト・タグは一般公開できます。
        一般公開されたアイテムは誰でも検索・閲覧が可能になります。
        カードとプロジェクトに関してはブックマークや学習ができるようになります。
        これらの公開設定は独立しており、プロジェクトを公開してもそこに含まれるカードが全て公開されるような
        ことはありません。逆にカードを公開してもそのカードが属するプロジェクトは公開されません。タグも同様です。
    </p>

</div>

{% endblock content %}

{% block extra_js %}
<script>

const token = "{{ user.token }}";
const request_user = JSON.parse('{{ request_user_json | safe}}'.slice(1,-1));

$(() => {

})


</script>
{% endblock %}
